<?xml version="1.0"?>

<launch>
  <arg name="prefix" default="robot0"/>
  <arg name="model" default="r2d2.urdf"/>
  <arg name="rgb" default="0 0 0"/>  
  <arg name="pose" default="0 0 0"/>
  
  <group ns="$(arg prefix)">
    <param name="robot_description" command="$(find xacro)/xacro $(find star_wars)/urdf/$(arg model) prefix:=$(arg prefix) rgb:='$(arg rgb)'"/>
    <param name="pose" value="$(arg pose)"/>
<!--     <param name="use_tf_static" value="false"/> -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
<!--       <param name="tf_prefix" value="$(arg prefix)" />       -->
    </node>
  </group>
</launch>
